@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Calibri', sans-serif;
}

button.card {
    font-size: 30px;
    background-color: #ffffff;
    border: 2px solid #bfbfbf;
    padding: 10px 20px;
    border-radius: 8px;
    cursor: pointer;
    margin: 10px;
}

button.card:hover {
    border: 3px solid dodgerblue;
    color: dodgerblue;
}

.hidden {
    display: none;
}

.fa-plus {
    font-size: 30px;
    padding: 5px;
    margin: 10px;
    float: left;
    color: #32b3de;
    border: 3px solid #32b3de;
    border-radius: 50%;
}

.modals .add-product {
    width: 50%;
    font-size: 20px;
    padding: 10px 20px;
    margin: 10px auto auto;
}

.modals .add-product .modal-header {
    display: flex;
    justify-content: space-between;
}